name: Build Flutter Project

on:
  workflow_dispatch:
    inputs:
      platform:
        description: '选择构建平台'
        required: true
        type: choice
        options:
          - ios

jobs:
  build-ios:
    name: Build iOS
    runs-on: macos-latest
    if: ${{ github.event.inputs.platform == 'ios'}}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Install CocoaPods dependencies
        run: |
          cd ios
          pod install
        continue-on-error: true

      - name: Build iOS IPA
        run: |
          flutter build ipa --release

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: build/ios/ipa/*.ipa
          retention-days: 30
